@model IEnumerable<eZone.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfStudents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfStudents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
